.myhome
{
    width:100%;
    height: 200px;
    background-color: orange;
}

.myenquery
{
    width:100%;
    background-color: aqua;
    height: 300px;
    text-align: center;
    font-size: 50px;
}